{% extends 'front.office.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
<section id="user" class="user">
    
    <div class="content-wrapper">
    <h1>Evenement</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>NomEvenement</th>
                <th>Description</th>
                <th>NombreDeParticipants</th>
                <th>QrCode</th>
                <th>Billet</th>
                <th>DateDeEvenement</th>
                <th>longitude</th>
                <th>latitude</th>
                
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                
                <td>{{ evenement.NomEvenement }}</td>
                <td>{{ evenement.Description }}</td>
                <td>{{ evenement.NombreDeParticipants }}</td>
                <td><img src="{{ asset('Uploads/image/' ~evenement.QrCode) }}"style="width: 100px"></td>
                <td>{{ evenement.Billet }}</td>
                <td>{{ evenement.DateDeEvenement ? evenement.DateDeEvenement|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.longitude }}</td>
                <td>{{ evenement.latitude }}</td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<li style="width:450px;height : 450px;"><iframe src='https://www.google.com/maps?q=
 36.899394731120864 ,10.189353015596605&hl=es;z=14&output=embed' style="width: 100%; height:100%;" ></iframe></li>

</div>
</section><!-- End Contact Section -->
{% endblock %}
